<!DOCTYPE html>
<html>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>
<div id="c1" style="width:100%;max-width:700px"></div>
<br>
<div id="c2" style="width:100%;max-width:700px"></div>
<script>


// Define Layout
var layout1 = {
  xaxis: {title: "Time"},
  yaxis: {range: [0, 10], title: "Unit"},  
  title: "Title"
};
var layout2 = {
  xaxis: {title: "Time"},
  yaxis: {range: [0, 20], title: "Unit"},  
  title: "Title"
};
setInterval(() => {
           fetch("{{ url_for('chart_data') }}")
           .then(response => {
               response.text().then(d => {
                  var js = JSON.parse(d);
                  var data = js.c1;
                  Plotly.newPlot("c1", data, layout1);
                  data = js.c2;
                  Plotly.newPlot("c2", data, layout2);
               })
               })
           }, 1000); 
</script>

</body>
</html>
